body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
}

#monForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

h1 {
  font-size: 24px;
  cursor: pointer;
  color: #3498db;
  transition: color 0.3s ease;
}

h1:hover {
  color: #2980b9;
}

h2 {
  font-size: 18px;
  color: #7f8c8d;
  margin-top: 10px;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 2px solid #ddd;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus {
  border-color: #3498db;
  outline: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin: 10px 0;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

.erreur {
  background-color: #F66;
  border: 2px solid #F33;
}

.correct {
  background-color: #6F6;
  border: 2px solid #3F3;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  color: #333;
}

li:last-child {
  border-bottom: none;
}

p {
  font-size: 14px;
  color: red;
}

.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
